h1, h3{
    color: black;
    text-align: center;
     
}

body {
	background-image: url('books.jpg');
  background-color: orange;
  background-blend-mode: screen;
}

// #body {
//   background-image: url('books.jpg');
//   background-color: orange;
//   background-blend-mode: screen;
// }

h3.web_subtitle {
	font-style: italic;
}

.col {
	p {
		text-align: right;
	}
}
p {
    font-family: sans-serif;
    font-size: 20px;
}

.row {
	padding-bottom: 5px;
}

#error_message {
	p {
		color: red;
		font-style: italic;
		padding-bottom: 0px;
	}
	padding-bottom: 0px;
}

form {
	//div {
	//	padding-left: 0px;
	//	padding-right: 0px;
	//	margin-right: 0px;
	//	margin-left: 0px;
	//}
	.row {
		p {
		padding-top: 15px;
		padding-right: 10px;
		//	margin-left: 0px;
		//	margin-right: 0px;
		}

		//padding-top: 0px;
		//padding-bottom: 0px;
	}



}
header {
	display: flex;
	justify-content: space-between;
	padding: 30px 10px 10px;
	background-color: #100758FF;



	p,a {
		color: orange;
		font-family: sans-serif;
		font-size: 120%;
		line-height: 0px;
		vertical-align: top;
	}
}

.logged_out {
	h1 {
		font-size: 700%;
		padding: 20% 20% 20px;
	}
	h3 {
		padding-bottom: 30px
	}
}

.container.search_page {
	margin-top: 50px;
}

.book_listing_overall {
	margin-top: 100px;
	h4 {
		font-family: sans-serif;
		font-weight: bold;
		font-size: 20px;
	}

	p.result_num {
		font-size: 14px;
	}
}

.book_page {
	padding-top: 30px;
	h2 {
		text-align: center;
	}
}

.book_listing_individual {
	margin-top: 20px;
	margin-bottom: 7px;
	p {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	p.book_title {
		font-weight: bold;
		font-size: 20px;
		a {
			color: #8e3228;
		}
	}

	p.isbn {
		font-size: 10pt;
		margin-top: 0px;
		margin-bottom: 0px;
		text-indent: 20px;
	}
}

.welcome_message {
	p {
		text-align: center;
	}
}

.quick_facts {
	padding-top: 30px;
	p {
		font-size: 16px !important;
		padding: 1px;
		margin: 0px;
		font-weight: lighter;
	}

}

.review_area {
	p {
		font-size: 14px;
	}
}
.reviews {
	padding-top: 30px;
}

.container {
	padding-top: 30px;
	p,label {
		text-indent: 20px;
		font-size: 14px;
	}
}

textarea {
	resize: none;
	margin-left: 20px;
}

.text-review {
	label {
		align: center;
	}
}