{% extends "layout.html" %}

{% block web_state %}
"logged_out"
{% endblock %}


{% block web_title %}
Home
{% endblock %}

{% block title %}
    LibReview
{% endblock %}

{% block subtitle %}
    Welcome to a critique of world's knowledge
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <a href="{{ url_for('log_in')}}" class="btn btn-primary" role="button">Login</a>
    </div>
    <div class="row justify-content-center">
        <a href="{{ url_for('register')}}" class="btn btn-primary" role="button">Register</a>
    </div>
</div>
{% endblock %}
