{% extends "layout.html" %}


{% block web_title %}
    {% if books!=None   %}
        Search Results
    {%  elif login_click %}
        Log in
    {%  elif register_click or register_success %}
        Register
    {% elif is_book_page %}
        {{ book.title }}
    {%  else  %}
        Home
    {% endif %}

{% endblock %}

{% block title %}
    LibReview
{% endblock %}

{% block subtitle %}
    Welcome to a critique of world's knowledge
{% endblock %}

{% block body %}
{% if logged_in   %}
    {# If logged in, we show a search bar or a book page #}

    {#  First a welcome message #}
    <div class="welcome_message">
            <p>Welcome back, {{ real_name }}!</p>
    </div>

    {# Now we check: are we book page or search page? #}

    {% if is_book_page %}
        <div class="container book_page">
            <h2>"{{ book.title }}" Book Page </h2>

            <div class="quick_facts container">
                <h5>Details about the book:</h5>
                <p><strong>Title:</strong> {{ book.title }}</p>
                <p><strong>Author:</strong> {{ book.author }}</p>
                <p><strong>Publication year:</strong> {{ book.year }}</p>
                <p><strong>ISBN Number:</strong> {{ book.isbn }}</p>

            </div>

            <div class="reviews container">
                <h5>Reviews left for this book on LibReview:</h5>
                {% for review in reviews %}
                    <div class="review_area">
                        <p><strong>{{ review.username }}</strong>: "{{ review.rating_text }}",
                            <i>{{ review.rating_number }}/5</i></p>
                    </div>
                {% endfor %}
            </div>

            <div class="good_reads_review_data container">
                <h5>Goodreads reviews:</h5>
                {%  if goodreads_number  %}
                    <p>This book received an average rating of {{ goodreads_rating }} from a total of
                        {{ goodreads_number }} reviews.</p>
                {% else %}
                    <p>This book has not received any ratings on Goodreads yet</p>
                {% endif %}
            </div>

            <div class="submit_review container">
                <h5>Submit your own review!</h5>
                {% if review_submitted %}
                    <p>You have already submitted your review; thank you for your contribution!</p>
                {% else %}
                    <form action="{{ url_for('submit_review', book_id=book.id) }}" method="post">
                        <div class="row align-items-center">

                            <div class="text-review col-6">
                                <div class="row justify-content-center">
                                    <label for="book_review">Enter your review for the book</label>
                                </div>
                                <div class="row justify-content-center">
                                    <textarea rows="4" cols="25" placeholder="Enter your book review" name="book_review"
                                              id="book_review" ></textarea>
                                </div>
                            </div>

                            <div class="stars-review col-6">
                                <label for="rating_number">How many stars would you rate it?</label>
                                <select name="rating_number" id="rating_number">
                                    {% for i in [1,2,3,4,5] %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>

                        <div class="row justify-content-center">
                            <button class="btn btn-primary">Submit Review!</button>
                        </div>

                    </form>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="container search_page">


            <form action="{{ url_for('search') }}" method="get" class="row justify-content-center">
                <input type="text" name="book_query" placeholder="Enter a book name, author, or ISBN..."
                                            value="{{ book_query }}" class="col-5">
                <button class="btn btn-primary">Search!</button>
            </form>


            <div class="book_listing_overall">
                {%  if books!=None %}
                    <h4>Search Results:</h4>
                    <p class="result_num">{{ books.__len__() }} results</p>

                    {% for book in books %}
                        <div class="book_listing_individual">
                            <p class="book_title"><a href="/book/{{ book.id }}">"{{ book.title }}" by {{ book.author }}
                                ({{ book.year }})</a></p>
                            <p class="isbn"><strong>ISBN:</strong> {{ book.isbn }}</p>
                        </div>

                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{%  else %}
{# If you are not logged in  #}
    <div class="container" class="logged_out">
        {% if login_click %}
            <div class="row justify-content-center" >
                <h4>Welcome back!</h4>
            </div>
            <form action="{{ url_for('log_in') }}" method="post">

            {%  if error_msg %}
                    <div class="row justify-content-center align-items-center no-gutters">
                        <div id="error_message">
                            <p> {{ error_msg }}</p>
                        </div>
                    </div>
                {%  endif %}


                <div class="row justify-content-center align-items-center no-gutters">
                    <div class="col"><p>Username:</p></div>
                    <div class="col"><input type="text" name="username" placeholder="Enter your username..."
                                            value="{{ username }}"></div>
                </div>

                <div class="row justify-content-center align-items-center no-gutters">
                    <div class="col"><p>Password:</p></div>
                    <div class="col"><input type="password" name="password" placeholder="Enter your password..."
                                            value="{{ password }}"></div>

                </div>

                <div class="row justify-content-center">
                    <button class="btn btn-primary">Log in</button>
                </div>

            </form>
        {% elif register_click %}
            <div class="row justify-content-center" >
                <h4>Welcome!</h4>
            </div>


            <form action="{{ url_for('register') }}" method="post">

                {%  if error_msg %}
                    <div class="row justify-content-center align-items-center no-gutters">
                        <div id="error_message">
                            <p> {{ error_msg }}</p>
                        </div>
                    </div>
                {%  endif %}

                <div class="row justify-content-center align-items-center no-gutters">
                    <div class="col">
                    <p>Name:</p>
                    </div>
                <div class="col">
                    <input type="text" name="name" placeholder="Enter your name...", value="{{ name }}">
            </div>
                </div>
                <div class="row justify-content-center align-items-center no-gutters">
                    <div class="col"><p>Username:</p></div>
                    <div class="col"><input type="text" name="username" placeholder="Enter your username..." value="{{ username }}"></div>
                </div>

                <div class="row justify-content-center align-items-center no-gutters">
                    <div class="col"><p>Password:</p></div>
                    <div class="col"><input type="password" name="password1" placeholder="Enter your password..."></div>

                </div>

                <div class="row justify-content-center align-items-center no-gutters">
                    <div class="col"><p>Confirm Password:</p></div>
                    <div class="col"><input type="password" name="password2" placeholder="Confirm your password..."></div>

                </div>

                <div class="row justify-content-center">
                    <button class="btn btn-primary">Register</button>
                </div>

            </form>
         {% elif register_success %}
            <div class="row justify-content-center">
                <p>Thank you for registering! Please log in through our login page now!</p>
            </div>
            <div class="row justify-content-center">
                <a href="{{ url_for('log_in')}}" class="btn btn-primary" role="button">Login</a>
            </div>
        {% elif logged_in %}
        {% else %}
            <div class="row justify-content-center">
                <a href="{{ url_for('log_in')}}" class="btn btn-primary" role="button">Login</a>
            </div>
            <div class="row justify-content-center">
                <a href="{{ url_for('register')}}" class="btn btn-primary" role="button">Register</a>
            </div>


        {% endif %}

    </div>
{% endif %}
{% endblock %}
